@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");
/* eae1e1 */

:root{
    --neumorph-blur-radius: 20px;
    --neumorph-distance: 5px;
    --bg: #c0c0c0;
    --font: #a36a4f ;
    --accent: #ffd772;
    --neumorph-doffset: #949494;
    --neumorph-loffset: #ececec;
}

body{
    background-color: var(--bg);
    font-family: 'Cascadia Code', sans-serif;
    color:var(--font);
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p,a,ul,li,td,th,tr,table,div,span,input,button,textarea,button{
    margin:0;
    padding: 0;
    font-family: 'Cascadia Code', sans-serif;
}