@import url('https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css');
@import url('https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css');
/* eae1e1 */

:root {
	--neumorph-blur-radius: 6px;
	--neumorph-distance: 5px;
	--bg: #252523;
	--font: #ffba49;
	--sub-font: #f7f0f5;
	--neumorph-doffset: #1f1f1e;
	--neumorph-loffset: #2b2b28;
	--accent: #000;
}

body {
	background-color: var(--bg);
	font-family: 'Cascadia Code', sans-serif;
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	margin: 0;
	display: flex;
	flex-direction: column;
}

html {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
td,
th,
tr,
table,
div,
span,
input,
button,
textarea,
button {
	margin: 0;
	padding: 0;
	font-family: 'Cascadia Code', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--font);
}

p,
a,
span,
div {
	color: var(--sub-font);
}

a,
a:active,
a:focus,
a:hover {
	text-decoration: none;
	outline: none;
	color: var(--font);
	font-weight: normal;
}

.swiper {
	height: 100%;
}

.swiper-slide {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.swiper-pagination-bullet-active {
	background-color: var(--font) !important;
}

/* Changing scroll bar */

:root::-webkit-scrollbar {
	width: 1.5rem;
}

:root::-webkit-scrollbar-thumb {
	background: var(--bg);
	box-shadow: inset var(--neumorph-distance) var(--neumorph-distance) var(--neumorph-blur-radius)
			var(--neumorph-doffset),
		inset calc(-1 * var(--neumorph-distance)) calc(-1 * var(--neumorph-distance))
			var(--neumorph-blur-radius) var(--neumorph-loffset);
	border-radius: 15px;
	background-clip: padding-box;
	border: 4px double var(--font);
}

:root::-webkit-scrollbar-track {
	padding: 1.25rem;
	background: var(--bg);
	box-shadow: var(--neumorph-distance) var(--neumorph-distance) var(--neumorph-blur-radius)
			var(--neumorph-doffset),
		calc(-1 * var(--neumorph-distance)) calc(-1 * var(--neumorph-distance))
			var(--neumorph-blur-radius) var(--neumorph-loffset);
}
